.precisionpay-settings-page-header {
  padding-top: 10px;
}

.precisionpay-settings-page-header .top-section {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.precisionpay-tagline {
  margin: 0;
}

.precisionpay-settings-page-header p {
  font-size: 14px;
}
